@model WebApplication2.Models.MemberCompanyInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Member",FormMethod.Post,new {@id="form",@name="form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        <h3>Basic Information</h3>
        <section>
            <table width="100%" border="0">
                <tr>
                    <td width="50%">
                        <table width="100%" border="1">
                            <tr>
                                <td><label for="memberid">MemberId *</label></td>
                                <td>
                                    @Html.EditorFor(model => model.mid)
                                    @Html.ValidationMessageFor(model => model.mid, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label for="memberDate">Membership Date *</label></td>
                                <td>
                                    @Html.EditorFor(model => model.membershipDate,"{0:dd/MM/yyyy}")
                                @Html.ValidationMessageFor(model => model.membershipDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><label for="orgName">Organization Name *</label></td>
                            <td>
                                @Html.EditorFor(model => model.Organization_Name)
                                @Html.ValidationMessageFor(model => model.Organization_Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><label for="orgAddress">Organization Address *</label></td>
                            <td>
                                @Html.EditorFor(model => model.Organization_Address)
                            @Html.ValidationMessageFor(model => model.Organization_Address, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="orgCell">Phone / Cell No*</label></td>
                        <td>
                            @Html.EditorFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="orgTrade">Trade License *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Trade_License)
                            @Html.ValidationMessageFor(model => model.Trade_License, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="orgTIN">TIN NO *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Tin_Number)
                            @Html.ValidationMessageFor(model => model.Tin_Number, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="orgVat">VAT No *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Vat_No)
                            @Html.ValidationMessageFor(model => model.Vat_No, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                </table>
            </td>
            <td width="50%" valign="top">

                <table width="100%" border="1">
                    <tr>
                        <td width="30%"><label for="orgBArea">Business Area *</label> </td>
                        <td width="70%">
                            @Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td width="30%"><label for="orgBType"> Business Type*</label></td>
                        <td width="70%">
                            @Html.DropDownList("btypeid", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.btypeid, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td width="30%"><label for="orgType">Organization Type *</label> </td>
                        <td width="70%">
                           @Html.DropDownList("orgId", null, htmlAttributes: new { @class = "form-control" })
                             @Html.ValidationMessageFor(model => model.orgId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td width="30%"><label for="memberType">Member Type *</label> </td>
                        <td width="70%">
                           @Html.DropDownList("mtypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.orgId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="incDate">Incorporate Date *</label></td>
                        <td>
                            @Html.EditorFor(model => model.InCorporationDate)
                            @Html.ValidationMessageFor(model => model.InCorporationDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="mVoterY">Voter *</label></td>
                        <td>
                            <table>
                                <tr>
                                    <td><input id="isVoter" name="isVoter" type="radio" value="Y"></td>
                                    <td>YES</td>
                                    <td><input id="isVoter" name="isVoter" type="radio" value="N"></td>
                                    <td>NO</td>
                                </tr>
                            </table>
                    </tr>
                    <tr>
                        <td><label for="mStatusY">Current Status *</label></td>
                        <td>
                            <table>
                                <tr>
                                    <td><input id="status" name="status" type="radio" value="Y"></td>
                                    <td>Active</td>
                                    <td><input id="status" name="status" type="radio" value="N"></td>
                                    <td>Inactive</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>(*) Mandatory</p>
</section>
<h3>Authority Information</h3>
<section>
    <table width="100%" border="0">
        <tr>
            <td width="50%">
                <table width="100%" border="1">

                    <tr>
                        <td><label for="ApplicantName">Applicant Name*</label></td>
                        <td>
                            @Html.EditorFor(model => model.Applicant_Name)
                            @Html.ValidationMessageFor(model => model.Applicant_Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="designation">Designation *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Designation)
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="fatherName">Father's Name *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Father_Name)
                            @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="motherName">Mother's Name *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Mother_Name)
                            @Html.ValidationMessageFor(model => model.Mother_Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="presentadd">Present Address</label></td>
                        <td>
                            @Html.EditorFor(model => model.Present_address)
                            @Html.ValidationMessageFor(model => model.Present_address, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="parmanentadd">Permanent Address *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Permanent_Address)
                            @Html.ValidationMessageFor(model => model.Permanent_Address, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="parmanentadd">District *</label></td>
                        <td>
                            @*@Html.EditorFor(model => model.District)
                            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })*@
                            @Html.DropDownList("disid", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.disid, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="autNID">National ID *</label></td>
                        <td>
                            @Html.EditorFor(model => model.National_Id)
                            @Html.ValidationMessageFor(model => model.National_Id, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="autTIN">TIN NO *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Tin_No)
                            @Html.ValidationMessageFor(model => model.Tin_No, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="autCell">Cell No *</label></td>
                        <td>
                            @Html.EditorFor(model => model.Mobile_No)
                            @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label for="appptype">Application Type *</label></td>
                        <td>
                            <table>
                                <tr>
                                    <td><input id="appptype" name="appptype" type="radio"></td>
                                    <td>Voter</td>
                                    <td><input id="appptypeN" name="appptype" type="radio"></td>
                                    <td>NOn Voter</td>
                                </tr>
                            </table>
                    </tr>
                </table>
            </td>
            <td width="50%" valign="top">

                <table width="100%" border="1">


                    <tr>
                        <td><label for="autPic">Photograph *</label></td>
                        <td>
                            <input id="file" name="file" type="file">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>
<h3>Introducer Information</h3>
<section>
    <table width="100%" border="0">
        <tr>
            <td width="50%">
                <table width="100%" border="1">
                    <tr>
                        <td width="35%"><label for="intMID">Member ID *</label>  </td>
                        <td width="65%">
                            @*@Html.EditorFor(model => model.Introduced_Mid)
                            @Html.ValidationMessageFor(model => model.Introduced_Mid, "", new { @class = "text-danger" })*@
                            <input type="text" name="int_mid" id="int_mid" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="introducerorgName">Organization*</label></td>
                        <td>
                            @*@Html.EditorFor(model => model.Int_Autority_Name)
                            @Html.ValidationMessageFor(model => model.Int_Autority_Name, "", new { @class = "text-danger" })*@
                            <input type="text" name="Int_Organizaion" id="Int_Organizaion" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="authorityn">Authority Name *</label></td>
                        <td>
                        @*@Html.EditorFor(model => model.Int_Autority_Name)
                        @Html.ValidationMessageFor(model => model.Int_Autority_Name, "", new { @class = "text-danger" })*@
                            <input type="text" name="Int_AppName" id="Int_AppName" readonly />
                    </td>
                </tr>

                <tr>
                    <td><label for="presentadd">Address</label></td>
                    <td>
                        <input type="text" name="Int_addr" id="Int_addr" readonly />
                        @*@Html.EditorFor(model => model.Int_Autority_Name)
                        @Html.ValidationMessageFor(model => model.Int_Autority_Name, "", new { @class = "text-danger" })*@
                    </td>
                </tr>
                



        </table>
    </td>

</tr>
</table>
</section>

</div>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    
    

    var form = $("#form");
    form.validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
        rules: {
            confirm: {
                equalTo: "#password"
            }
        }
    });
    form.children("div").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onFinishing: function (event, currentIndex) {
            form.validate().settings.ignore = ":disabled";
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            form.submit();
        }
    });
    $("#membershipDate").datepicker({ dateFormat: 'dd-mm-yy' });
    $("#InCorporationDate").datepicker({ dateFormat: 'dd-mm-yy' });
    
    $('#int_mid').change(function () {
            var memberId = this.value;
            //alert(Shipid);

            $.getJSON("/MMS/Member/GetRecordById",
                {
                    memberid: memberId
                },
                function (data) {
                    //alert(data.Organization_Name);
                    $('#Int_Organizaion').val(data.Organization_Name);
                    $('#Int_AppName').val(data.Applicant_Name);
                    $('#Int_addr').val(data.Adress);
                    
                });


        });
    
</script>