@model WebApplication2.Models.MemberCompanyInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MemberCompanyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Member Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mid)
        </dd>

        <dt>
            Organization Name
        </dt>


        

        <dd>
            @Html.DisplayFor(model => model.Organization_Name)
        </dd>

        <dt>
            Organization Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area.Area_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Area_Name)
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.memberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
