@model WebApplication2.Models.RecieveMaster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/chosen.css" rel="stylesheet" />

<div class="form-horizontal">
    <h4>BillRegister</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.rDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.rDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="error">Valid order date required (ex. MM-dd-yyyy)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.memberId, "memberId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.memberId, new { htmlAttributes = new { @class = "form-control" } })
            <span class="error">Member Id Required</span>
        </div>
    </div>

    <div class="form-group">
        <label for="orgTrade" class="control-label col-md-2">Organizaion Name</label>
        <div class="col-md-10">
            @*@Html.Label("org_name", htmlAttributes: new { id = "org_name", @class = "form-control" })
                <span class="error">Organization Name Required</span>*@
            @*@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" id="org_name"  readonly name="org_name" class="form-control" />
            <input type="hidden" id="memid"  name="memid" class="form-control" />
            <span class="error">Organization Name Required</span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
    @Html.LabelFor(model => model.billId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <select id="billid" multiple="true" name="billid" class="pc form-control chzn-select">
            <option>Select</option>
        </select>
    </div>
</div>
    <div class="form-group">
        <label for= "orgTrade" class="control-label col-md-2">Month</label>
        <div class="col-md-10">
            <select id="cmonth" multiple="true" name="cmonth" class="pc form-control chzn-select">
                <option value="January" >January</option>
                <option value="Febrauary">Febrauary</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="orgTrade" class="control-label col-md-2">Income Head</label>
            <div class="col-md-10">
                @Html.DropDownList("HeaderId", null, htmlAttributes: new { @class = "form-control" })


            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="orgTrade" class="control-label col-md-2">Amount</label>
                <div class="col-md-10">
                    <input type="text" id="amt" name="amt" value="0" class="form-control" />
                    <span class="error">Please Enter Amount</span>

                </div>
            </div>
            <div>

            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="add" value="add" class="success" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 tablecontainer" id="orderItems" ">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="submit" type="button" value="Save" style="padding:10px 20px" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="print" type="button" value="Print" style="padding:10px 20px" />
                </div>
                </div>


            </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>
<script>
 $(function () {
            $('#rDate').datepicker({
                dateFormat: 'dd-mm-yy'
            });
            
 });
 

 $(document).ready(function () {


     var billItems = [];
     var BillId = [];
     $('#print').click(function () {
         document.location = '@Url.Action("Index","rptMemo")';

     })
        $('#memberId').change(function () {
            var memberId = this.value;
            //alert(Shipid);

            $.getJSON("/MMS/Member/GetRecordById",
                {
                    memberid: memberId
                },
                function (data) {
                    //console.log(data);
                    $('#org_name').val(data.Organization_Name);
                    $('#memid').val(data.memid);
                    BillId = data.bill;
                   
                    renderCategory($('#billid'));
                });


        });
        function renderCategory(element) {
            var $ele = $(element);
            $ele.empty();
            $ele.append($('<option/>').val('0').text('Select'));
           
            $.each(BillId, function (i, val) {
                console.log(val);
                $ele.append($('<option/>').val(val).text(val));
            })
            $(".chzn-select").chosen();
        }
        $('#add').click(function () {
            //Check validation of order item

            var isValidItem = true;
            if (!($('#amt').val().trim() != '' && !isNaN($('#amt').val().trim()) && (parseInt($('#amt').val()) || 0))) {
                isValidItem = false;
                $('#amt').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#amt').siblings('span.error').css('visibility', 'hidden');
            }




        if (isValidItem) {
            billItems.push({
                HeaderId: $('#HeaderId').val().trim(),
                HeaderText: $('#HeaderId :selected').text().trim(),
                Amount: parseFloat($('#amt').val().trim())

            });

            //Clear fields
            $('#HeaderId').focus();
            $('#amt').val('');

        }
        GeneratedItemsTable();
        });
        $('#submit').click(function () {
            //validation of order
            var isAllValid = true;
            //alert($('#billid').val());
            if (billItems.length == 0) {
                $('#orderItems').html('<span style="color:red;">Please add Bill items</span>');
                isAllValid = false;
            }



            if ($('#rDate').val().trim() == '') {
                $('#rDate').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#rDate').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#memberId').val().trim() != '' && !isNaN($('#memberId').val().trim()) && (parseInt($('#memberId').val()) || 0))) {
                isValidItem = false;
                $('#memberId').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#memberId').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#org_name').text != '')) {
                isValidItem = false;
                $('#org_name').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#org_name').siblings('span.error').css('visibility', 'hidden');
            }

            //Save if valid
            if (isAllValid) {

                var data = {

                    recivedate: $('#rDate').val().trim(),
                    memberId: $('#memid').val().trim(),
                    Remarks: $('#Remarks').val().trim(),
                    CMonth: $('#cmonth').val(),
                    billId: $('#billid').val(),
                    ReciveDetail: billItems
                }
                console.log(data);

                $(this).val('Please wait...');

                $.ajax({
                    url: '/MMS/Recieve/SaveOrder',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert('Successfully done.');
                            //clear form
                            billItems = [];

                            $('#rDate').val('');
                            $('#orderItems').empty();
                        }
                        else {
                            alert('Failed');
                        }
                        $('#submit').val('Save');
                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            }

        });
        function GeneratedItemsTable() {
            if (billItems.length > 0) {
                var $table = $('<table/>');
                $table.append('<thead><tr><th>Head</th><th>Amount</th>');
                var $tbody = $('<tbody/>');
                $.each(billItems, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.HeaderText));
                    $row.append($('<td/>').html(val.Amount));
                    var $remove = $('<a href="#">Remove</a>');
                    $remove.click(function (e) {
                        e.preventDefault();
                        billItems.splice(i, 1);
                        GeneratedItemsTable();
                    });
                    $row.append($('<td/>').html($remove));
                    $tbody.append($row);
                });
                console.log("current", billItems);
                $table.append($tbody);
                $('#orderItems').html($table);
            }
            else {
                $('#orderItems').html('');
            }
        }
    }); </script>
