@model WebApplication2.Models.RecieveMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecieveMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemeberCompanyInfo.Organization_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemeberCompanyInfo.Organization_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
